@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer utilities {
    .site-max {
        padding-left: theme("padding.20");
        padding-right: theme("padding.20");
    }

    .nav-clamp {
        font-size: clamp(1.25rem, 2rem + 2vw + 2vh, 4.25rem);
        line-height: 1;
    }
}

body {
    --scrollbar-width: calc(100vw - 100%);
}
